################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Template 1
/Template 2
/Template 2
/Template 3
/~$scription.docx
