<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <connectionStrings>
    <add name="Essawy" connectionString="data source=.;initial catalog=SQLProject;integrated security=true" />
    <add name="Linah" connectionString="data source=LII_LENOVO\MSSQL;initial catalog=SQLProject;integrated security=true" />
    <add name="Wafaa" connectionString="data source=.\SQLPROJECT;initial catalog=SQLProject;integrated security=true" />
  </connectionStrings>
</configuration>